@page
@model bingbong.Pages.Gamer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gamer[0].gamerTag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gamer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gamerTag)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GamersId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GamersId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GamersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
